body {
    background-image: linear-gradient(to bottom, #dbeafe, #fde2e2);
    height: 100vh; 
    margin: 40px; 
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    text-align: center; /* Ensures text inside is centered */
}
